<ul class="divide-y divide-gray-200">
    <li *ngFor="let recipe of recipes" class="py-4 hover:bg-neutral-400">
        <a (click)="openRecipe(recipe._id)" class="block  hover:cursor-pointer">
            <div class="flex items-center justify-between px-4">
                <div class="text-lg font-medium text-gray-900">{{recipe.name}}</div>
                <div class="text-sm font-medium text-gray-500">{{recipe.ingredients.length}} Ingredients</div>
            </div>
        </a>
    </li>
</ul>