<nav class="bg-neutral-900 ">
  <div class="mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center gap-3">
        <a href="#" class="text-white hover:text-gray-300">
          Home
        </a>
        <a href="/addRecipe" class="text-white hover:text-gray-300">
          Manage Recipes
        </a>
        <a href="/allRecipes" class="text-white hover:text-gray-300">
          All recipes
        </a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>