<nav class="bg-[#dceccb] ">
  <div class="mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center gap-3">
        <a routerLink="" class="text-neutral-900 hover:text-neutral-950">
          Home
        </a>
        <a routerLink="/addRecipe" class="text-neutral-900 hover:text-neutral-950">
          Manage Recipes
        </a>
        <a routerLink="/addCategory"  class="text-neutral-900 hover:text-neutral-950">
          Manage Categories
        </a>
        <a routerLink="/allRecipes"  class="text-neutral-900 hover:text-neutral-950">
          All recipes
        </a>
      </div>
    </div>
  </div>
</nav>
<div class="bg-[#f7f4fb]">
  <router-outlet></router-outlet>
</div>