<!-- recipe-form.component.html -->
<div *ngIf="!loggedIn" class="mt-24 flex flex-col gap-8 justify-center items-center bg-transparent">
  <div class="m-10 p-10 w-11/12 md:w-3/4 lg:w-1/2 flex flex-col justify-center items-center gap-8 bg-[#e2e9ee] rounded-lg shadow-xl">
    <h2 class="text-2xl font-medium">Recipe Login</h2>
    <input
      type="password"
      class="shadow appearance-none border rounded w-3/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      placeholder="Enter Password" [ngModelOptions]="{ standalone: true }"
      [(ngModel)]="password" required>
    <button (click)="login()" class="bg-[#6aa49f] text-white font-bold py-2 px-4 rounded-full flex gap-2">Login</button>
  </div>
</div>


<!-- <app-loading-spinner *ngIf="(loading || loadRecipes) && loggedIn"></app-loading-spinner> -->


<div *ngIf="loggedIn" class="w-full mt-20 flex flex-col items-center gap-8 p-2 md:p-10">
  <div>
    <button class="bg-[#050708] hover:bg-neutral-800 text-white font-bold py-2 px-4 rounded-full flex gap-2"
      (click)="add()">
      Add new recipe
    </button>
  </div>
  <div class="flex justify-center overflow-x-scroll w-full m-x-4 scrollbar-thin scrollbar-thumb-neutral-600 hover:scrollbar-thumb-black scrollbar-track-gray-200 scrollbar-thumb-rounded-full scrollbar-thumb-grab scrollbar-thumb-grabbing">
    <div class="m-10 w-full md:w-3/4 lg:w-1/2 shadow-xl rounded-lg">
      <table [ariaDescription]="'Table with all Recipes'" class="w-full" >
        <thead>
          <tr>
            <th class="mx-4 text-left">Recipe Name</th>
            <th class="mx-4 text-left">Ingredients</th>
            <th class="mx-4"></th>
            <th class="mx-4"></th>
          </tr>
        </thead>
        <tbody *ngIf="(loading || loadRecipes) && loggedIn">
          <tr *ngFor="let _ of [].constructor(5)" class="p-4">
            <td colspan="4">
              <ngx-skeleton-loader count="1" appearance="line" [theme]="{'border-radius': '5px', 'height': '30px'}"></ngx-skeleton-loader>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="!loading && !loadRecipes && loggedIn">
          <tr *ngFor="let recipe of recipes; let i = index" 
              [ngClass]="{'bg-white': i % 2 == 0, 'bg-neutral-200': i % 2 == 1}" class="py-2 border-b-neutral-500 border-solid first:rounded-t-lg last:rounded-b-lg">
            <td class="px-5">{{recipe.name}}</td>
            <td class="px-5">{{recipe.ingredients.length}} Ingredients</td>
            <td class="px-5">
              <button class="bg-[#dceccb] text-neutral-900 font-bold py-2 px-4 rounded-sm flex gap-2"
                (click)="edit(recipe)">
                <svg class="stroke-neutral-900" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                   stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path>
                  <polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon>
                </svg>
                Edit
              </button>
            </td>
            <td class="px-5">
              <button class="bg-[#74ACDC] text-neutral-900 font-bold py-2 px-4 rounded-sm flex gap-2"
                (click)="delete(recipe)">
                <svg class="stroke-neutral-900" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                   stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <polyline points="3 6 5 6 21 6"></polyline>
                  <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                  <line x1="10" y1="11" x2="10" y2="17"></line>
                  <line x1="14" y1="11" x2="14" y2="17"></line>
                </svg>
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-edit-dialog *ngIf="showModal" [recipe]="recipe" [actionButtonText]="modalText" (closeModalEvent)="closeModal($event)">
  </app-edit-dialog>

</div>