/* ul li div::before {
    content: '';
    position: absolute;
    border-left: 1px solid;
    left: 14px;
    bottom: 0;
    z-index: -1;
    height: 100%
}

ul li:last-child div:before{
    content:none;
   } */