/* ul li div::before {
    content: '';
    position: absolute;
    border-left: 1px solid;
    left: 14px;
    bottom: 0;
    z-index: -1;
    height: 100%
}

ul li:last-child div:before{
    content:none;
   } */


.lineDiv{
    border-right: 1px solid rgb(163 163 163);
    transform: translateX(-50%);
    min-height: 20px;
    height: 100%;
}