<!-- recipe-form.component.html -->
<app-loading-spinner *ngIf="loading || loadRecipes"></app-loading-spinner>

<div *ngIf="!loading && !loadRecipes" class="w-full mt-20 flex flex-col items-center gap-8">
  <div>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" (click)="add()">
      Add new recipe
    </button>
  </div>
  <table class="w-fit m-10 min-w-[300px]">
    <thead>
      <tr>
        <th>Recipe Name</th>
        <th>Ingredients</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recipe of recipes">
        <td>{{recipe.name}}</td>
        <td>{{recipe.ingredients.length}} Ingredients</td>
        <td>
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" (click)="edit(recipe)">Edit</button>
        </td>
        <td>
          <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" (click)="delete(recipe)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-edit-dialog *ngIf="showModal" [recipe]="recipe" [actionButtonText]="modalText" (closeModalEvent)="closeModal()"></app-edit-dialog>
  
</div>